<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Região de banco de dados -->
    <add key="UserName" value="neoitbase"/>
    <add key="PassWord" value="Neoit@2017"/>
    <add key="DataSource" value="mssql5.gear.host"/>
    <add key="DataBase" value="neoitbase"/>
    <add key="Conexao" value="Server=mssql5.gear.host;Database=neoitbase;Uid=neoitbase;Pwd=Neoit@2017;"/>
    <add key="ProviderBD" value="1"/>
    <!--OleDb = 0, SqlClient = 1, ODBC = 2, MySql = 3-->
    <!-- Fim da regiao de banco de dados -->
    <add key="TimeOut" value="1800"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
